[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SLSEdesign"]
	path = SLSEdesign
	url = https://github.com/chikuang/slsedesign
